service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para todos los documentos
    match /{document=**} {
      // Permitir lectura a cualquier persona, autenticada o no.
      allow read: if true;
      
      // Solo permitir escritura (esto incluye creación, actualización y eliminación) a usuarios autenticados.
      allow write: if request.auth != null;
    }
  }
}